<!DOCTYPE html>
<!--HTML-->
<html>

<head>
    <!--font: Do Hyeon-->
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
    <!--css-->
    <link href="../public/admin.css" rel="stylesheet">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!--charset-->
    <meta charset="utf-8">
</head>

<body class="bg-yellow">
    <!--header-->
    <div class="row">
        <div class="col-3 text-left">
            <div class="ml-3 mt-3">
                <h5 class="bg-white border border-dark">배달 장소: <span class="bg-white border border-dark">경기도
                        성남시 중원구
                        하대원동
                        77-77</span></h5>
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="display-3">띵동!</div>
        </div>
        <div class="col-3 text-right">
            <div class="mr-3 mt-3">
                <a href="#" class="text-decoration-none text-dark h5" class="">로그인</a>
                <a href="#" class="text-decoration-none text-dark h5">회원가입 </a>
                <span class="text-gray border border-gray bg-white">주문표(0)</span>
            </div>
        </div>
    </div>
    <!--content-->
    <div class="container">
        <table class="table bg-light">
            <caption class="text-center">일당 사용자 접속 수</caption>
            <thead>
                <tr>
                    <th>날짜</th>
                    <th>사용자 수</th>
                    <th>사용자 증가량</th>
                    <th>수익</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2019-07-29</td>
                    <td>98899</td>
                    <td>211221</td>
                    <th>464465</th>
                </tr>
                <tr>
                    <td>2019-07-28</td>
                    <td>98899</td>
                    <td>412124</td>
                    <th>464465</th>
                </tr>
                <tr>
                    <td>2019-07-27</td>
                    <td>9889921</td>
                    <td>124142</td>
                    <th>464463555</th>
                </tr>
                <tr>
                    <td>2019-07-26</td>
                    <td>9822</td>
                    <td>-49</td>
                    <th>464465</th>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>